main {
    margin: 4rem 0;
    padding: 0 3.2rem;
}


section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 0 auto;
}



@media (max-width: 768px) {
    section {
        max-width: 55rem;
    }
}


@media (min-width: 768px) {
    section {
        max-width: 80rem;
    }
}


@media (min-width: 1280px) {
    section {
        max-width: 111rem;
        margin-bottom: 15rem;
    }
}


/* 
    ====================

    ----- Sections -----

    ====================
*/


.projects {
    min-width: auto;
    min-height: 69rem;
    margin-bottom: 7.8rem;
}


.projects picture img {
    width: 100%;
}

.projects .container {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3.2rem;
    width: 100%;
    min-height: 37rem;
    height: auto;
    padding: 2.5rem 0 3rem;
}


.projects .secondaryButton {
    max-width: 20rem;
}


@media (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        min-height: 42rem;
        margin-bottom: 8rem;
    }

    .projects .container {
        gap: 3.2rem;
        align-self: center;
    }

    .projects:nth-child(odd) picture {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
    }

    .projects:nth-child(odd) .container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    } 


    .projects:nth-child(even) picture {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
    }

    .projects:nth-child(even) .container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    } 
}


@media (min-width: 1280px) {
    .projects {
        min-height: 50rem;
    }

    .projects picture {
        min-height: 50rem;
        display: flex;
        align-items: center;
    }

    .projects .container {
        min-height: 50rem;
    }

    .projects .text {
        max-width: 50ch;
    }
}


/* 

    ===== Images idea =====

*/



/* Background color for each project */


@media (min-width: 768px) and (max-width: 1280px) {
    .projects picture {
        height: 90%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}




@media (min-width: 768px) {

    .projects picture {
        max-height: 53rem;
        overflow: hidden;
    }

    .projects #calculator {
        background-color: #3b4664;
    }

    .projects #nftCard {
        background-color: #0d1a2d;
    }

    .projects #eCommerce {
        background-color: #FFFFFF;
    }

    .projects #fylo {
        background-color: #f0f0f0;
    }

    .projects #movieApp {
        background-color: #242333;
    }

    .projects #studio51 {
        background-color: #1f1f23;
    }

    .projects #planetFacts {
        background-color: hsl(240, 67%, 8%);

    }
    
}


/* 
    Calculator
        #3b4664

    NFT Card
        #0d1a2d

    Ecommerce
        #ffffff

    Fylo
        #f0f0f0

    Movie App
        #242333

    Studio 51
        #1f1f23

*/


/* 

    ===== Text idea =====

*/


@media (min-width: 768px) and (max-width: 1280px) {
    .projects .text {
        display: -webkit-box;
        max-width: 336px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}